/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./../fonts/PlusJakartaSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./../fonts/PlusJakartaSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./../fonts/PlusJakartaSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./../fonts/PlusJakartaSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("./../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("./../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --fuschia-100: #ef5da8;
  --fuschia-80: #f178b6;
  --fuschia-60: #fcddec;
  --iris-100: #5d5fef;
  --iris-80: #7879f1;
  --iris-60: #a5a6f6;
  --color-green: #2ebb77;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #7e7e7e;
  --font-family: "Plus Jakarta Sans", sans-serif;
  --second-family: "Lato", sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: 700;
}

.container {
  max-width: 1470px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-big {
  max-width: 1870px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.title-2 {
  font-size: 48px;
  line-height: 125%;
  color: var(--color-black);
}

.subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
  color: var(--color-grey);
}

.grid {
  display: grid;
  gap: 30px;
}
.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 56px;
  padding: 0 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 350%;
  color: var(--color-white);
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: var(--color-green);
  transition: all 0.3s ease;
}
.button svg {
  fill: var(--color-white);
  transition: fill 0.3s ease;
}
.button:hover {
  color: var(--color-green);
  border-color: var(--color-green);
  background-color: var(--color-white);
}
.button:hover svg {
  fill: var(--color-green);
}
.button--white {
  font-weight: 700;
  font-size: 15px;
  color: var(--color-black);
  background-color: var(--color-white);
}
.button--white svg {
  fill: var(--color-black);
}
.button--white:hover {
  color: var(--color-black);
  border-color: var(--color-black);
}
.button--white:hover svg {
  fill: var(--color-black);
}

.header__top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 24px;
  background: linear-gradient(270deg, #dbf4e2 6.75%, #f6fdec 98.85%);
}

.header__top-text {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: auto;
}

.header__top-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 20px;
  font-size: 15px;
  line-height: 213%;
  color: var(--color-black);
  border-radius: 7px;
  border: 1px solid transparent;
  background-color: var(--color-white);
  transition: border-color 0.3s ease;
}
.header__top-link:hover {
  border-color: var(--color-black);
}

.header__top-btn {
  display: flex;
  margin-left: auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 24px 0;
  background-color: var(--color-white);
}

.header__menu-list {
  display: flex;
  align-items: center;
  gap: 36px;
  margin-left: 220px;
}

.header__menu-link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  color: var(--color-black);
  transition: color 0.3s ease;
}
.header__menu-link svg {
  padding-top: 3px;
  fill: currentColor;
  transition: fill 0.3s ease;
}
.header__menu-link:hover {
  color: var(--color-green);
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__basket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  aspect-ratio: 1;
  border-radius: 24px;
  background-color: #f5f5f5;
}
.header__basket img {
  width: 20px;
  aspect-ratio: 1;
}

.header__basket-counter {
  position: absolute;
  right: -5px;
  top: -4px;
  width: 18px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-weight: 500;
  font-size: 12px;
  border-radius: 9px;
  background-color: var(--color-green);
}

.header__actions-link {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 18px;
  color: var(--color-black);
  transition: color 0.3s ease;
}
.header__actions-link span {
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #9b9b9b;
}
.header__actions-link:hover {
  color: var(--color-green);
}

.header__actions-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0 36px;
  font-size: 15px;
  line-height: 320%;
  color: var(--color-white);
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: var(--color-black);
  transition: all 0.3s ease;
}
.header__actions-btn:hover {
  color: var(--color-black);
  border-color: var(--color-black);
  background-color: var(--color-white);
}

.hero__inner {
  padding: 73px 0 90px;
  background-image: url("./../images/hero/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__content {
  max-width: 618px;
  width: 100%;
}

.hero__link {
  margin-bottom: 22px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
  padding: 0 18px;
  font-size: 18px;
  line-height: 140%;
  color: #b479d9;
  border-radius: 40px;
  background-color: rgba(180, 121, 217, 0.15);
  transition: transform 0.3s ease;
}
.hero__link:hover {
  transform: translateY(-2px);
}

.hero__title {
  margin-bottom: 35px;
  font-size: 68px;
  line-height: 120%;
  color: var(--color-black);
}
.hero__title span {
  position: relative;
}
.hero__title span::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: -10px;
  display: block;
  width: 275px;
  height: 44px;
  background-image: url("./../images/hero/hero-line.svg");
  background-repeat: no-repeat;
}

.hero__text {
  margin-bottom: 40px;
}
.hero__text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: var(--color-grey);
}

.hero__btn {
  margin-bottom: 62px;
}

.hero__stats {
  display: flex;
  align-items: center;
  gap: 39px;
}

.hero__stats-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 48px;
  line-height: 100%;
  color: var(--color-black);
}
.hero__stats-item span {
  font-size: 18px;
  line-height: 180%;
  color: var(--color-grey);
}

.hero__stats-divider {
  width: 1px;
  height: 61px;
  background-color: #ccc;
}

.brands {
  padding: 76px 0 112px;
  background-color: #f5f5f5;
}

.brands__title {
  max-width: 657px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: var(--color-black);
}

.brands__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.custom-shirts {
  padding: 92px 0 130px;
}

.custom-shirts__title {
  margin-bottom: 20px;
  text-align: center;
}

.custom-shirts__subtitle {
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 85px;
}

.custom-shirts__items {
  display: flex;
  flex-direction: column;
  gap: 85px;
}

.custom-shirts__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
.custom-shirts__item--reverse {
  flex-direction: row-reverse;
}

.custom-shirts__item-img {
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
}

.custom-shirts__item-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  aspect-ratio: 1;
  font-size: 18px;
  line-height: 311%;
  color: var(--color-black);
  border-radius: 28px;
  box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.13);
  background-color: var(--color-white);
}

.custom-shirts__item-text {
  max-width: 461px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.custom-shirts__item-title {
  font-size: 32px;
  line-height: 140%;
  color: var(--color-black);
}

.custom-shirts__item-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: var(--color-grey);
}

.bring-ideas {
  padding: 111px 0 92px;
  background-color: #f5f5f5;
}

.bring-ideas__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.bring-ideas__img {
  flex-shrink: 0;
}

.bring-ideas__text {
  max-width: 546px;
  width: 100%;
}

.bring-ideas__title {
  margin-bottom: 30px;
}

.bring-ideas__description {
  max-width: 463px;
  margin-bottom: 42px;
}
.bring-ideas__description p {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: var(--color-grey);
}

.accordion__group {
  max-width: 495px;
  width: 100%;
  padding: 0 18px;
  display: grid;
  row-gap: 68px;
}

.accordion {
  border-radius: 12px;
  overflow: hidden;
  transition-duration: 0.3s;
}
.accordion__summary {
  list-style: none;
}
.accordion__summary::webkit-details-marker {
  display: none;
}
.accordion__title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  font-size: 20px;
  line-height: 140%;
  color: var(--color-black);
  cursor: pointer;
  transition-duration: 0.3s;
}
.accordion__title:hover {
  color: var(--color-blue);
}

.accordion__details[open] + .accordion__content {
  grid-template-rows: 1fr;
  padding-bottom: 30px;
  padding-right: 50px;
  background-color: var(--color-white);
}
.accordion__details[open] .accordion__title {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 50px;
  background-color: var(--color-white);
}

.accordion__content {
  padding-left: 30px;
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.3s;
}

.accordion__content-inner {
  overflow: hidden;
}

.accordion__content-body {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: var(--color-grey);
}

.printing {
  padding-top: 35px;
  background-color: #f5f5f5;
}

.printing__title {
  margin-bottom: 20px;
  text-align: center;
}

.printing__subtitle {
  max-width: 682px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 68px;
}

.printing__content-inner {
  padding-bottom: 295px;
  height: 727px;
  background-image: url("./../images/printing-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.picks {
  padding: 92px 0;
}

.picks__title {
  margin-bottom: 20px;
  text-align: center;
}

.picks__subtitle {
  max-width: 685px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.picks__list {
  margin-bottom: 72px;
}

.picks__item-link {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}
.picks__item-link:hover {
  transform: translateY(-2px);
}

.picks__item-img {
  position: relative;
  overflow: hidden;
}
.picks__item-img img {
  border-radius: 12px;
}

.picks__item-sale {
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 10px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 3px;
  color: var(--color-white);
  background-color: var(--color-green);
}
.picks__item-sale--red {
  background-color: #f09155;
}

.picks__item-new {
  position: absolute;
  z-index: 5;
  top: 35px;
  left: 10px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 3px;
  color: var(--color-white);
  background-color: #b479d9;
}

.picks__item-info {
  padding: 21px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.picks__item-title {
  font-size: 18px;
  line-height: 140%;
  color: var(--color-black);
}

.picks__item-price {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  line-height: 180%;
  color: var(--color-black);
}
.picks__item-price--green {
  color: var(--color-green);
}
.picks__item-price span {
  font-weight: 500;
  font-size: 13px;
  line-height: 180%;
  text-decoration: line-through;
  color: #9b9b9b;
}

.picks__item-colors {
  display: flex;
  align-items: center;
  gap: 6px;
}
.picks__item-colors span {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: var(--color-black);
}

.picks__item-color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 50%;
  width: 21px;
  aspect-ratio: 1;
  border: 0.5px solid var(--color-grey);
  background-color: var(--color-white);
}
.picks__item-color span {
  width: 17px;
  aspect-ratio: 1;
  background-color: #d7a983;
  border-radius: 50%;
}
.picks__item-color--black span {
  background-color: var(--color-black);
}

.picks__actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.picks__actions-item {
  padding: 57px 42px;
  width: 690px;
  height: 360px;
  border-radius: 12px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.picks__actions-title {
  margin-bottom: 15px;
  max-width: 230px;
  font-size: 32px;
  line-height: 140%;
  color: var(--color-black);
}

.picks__actions-text {
  margin-bottom: 20px;
  max-width: 230px;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: var(--color-grey);
}

.customize-products {
  padding: 37px 0 111px;
  background-image: url("./../images/customize-products/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.customize-products__inner {
  display: flex;
  justify-content: space-between;
}

.customize-products__text {
  padding-top: 142px;
  max-width: 360px;
}

.customize-products__title {
  margin-bottom: 10px;
}

.customize-products__description {
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: var(--color-grey);
}

.customize-products__content {
  max-width: 830px;
  width: 100%;
}

.customize-products__list {
  margin-bottom: 47px;
}

.customize-products__item {
  padding: 34px 21px 34px 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--color-white);
}

.customize-products__img {
  margin-bottom: 27px;
}

.customize-products__item-title {
  margin-bottom: 21px;
  font-size: 20px;
  line-height: 140%;
  color: var(--color-black);
}

.customize-products__item-description {
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
  color: var(--color-grey);
}

.customize-products__action {
  padding: 41px 50px 44px;
  width: 834px;
  height: 277px;
  overflow: hidden;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: contain;
}

.customize-products__action-title {
  margin-bottom: 15px;
  max-width: 286px;
  font-size: 24px;
  line-height: 140%;
  color: var(--color-black);
}

.customize-products__action-description {
  max-width: 370px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: var(--color-grey);
}

.resources {
  padding: 92px 0 82px;
}

.resources__title {
  margin-bottom: 20px;
  text-align: center;
}

.resources__subtitle {
  max-width: 683px;
  margin: 0 auto;
  margin-bottom: 84px;
  text-align: center;
}

.resources__cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.resources__card {
  display: flex;
  gap: 30px;
}

.resources__card-img {
  border-radius: 12px;
  flex-shrink: 0;
}

.resources__card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resources__card-links {
  display: flex;
  align-items: center;
  gap: 5px;
}

.resources__card-link {
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 180%;
  color: var(--color-green);
  border-radius: 40px;
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}
.resources__card-link:hover {
  color: var(--color-white);
  background-color: var(--color-green);
}

.resources__card-title {
  max-width: 330px;
  width: 100%;
  font-size: 24px;
  line-height: 140%;
  color: var(--color-black);
}

.resources__card-author {
  display: flex;
  align-items: center;
  gap: 16px;
}

.resources__card-author-info {
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
  color: var(--color-grey);
}
.resources__card-author-info span {
  font-weight: 600;
  color: var(--color-black);
}

.feedback {
  padding: 35px 0 111px;
  background-image: url("./../images/feedback/feedback-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.feedback__title {
  margin-bottom: 20px;
  text-align: center;
}

.feedback__subtitle {
  margin: 0 auto;
  margin-bottom: 68px;
  max-width: 683px;
  text-align: center;
}

.feedback__list {
  overflow: hidden;
  margin-bottom: 68px;
}

.feedback__list-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: var(--color-black) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active.swiper-pagination-bullet-active {
  width: 14px !important;
  height: 14px !important;
  border: 1px solid #000 !important;
  background-color: var(--color-white) !important;
}

.feedback__item {
  padding: 40px 56px 40px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--color-white);
}

.feedback__person-info {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.feedback__person-text {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 140%;
  color: var(--color-black);
  border-bottom: 1px dashed #f3bb2e;
}
.feedback__person-text span {
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #7e7e7e;
}

.feedback__item-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: var(--color-black);
}

.vacations {
  padding: 130px 0 150px;
  background-image: url("./../images/vacations-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.vacations__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vacations__title {
  margin-bottom: 15px;
  max-width: 550px;
  text-align: center;
}

.vacations__subtitle {
  margin-bottom: 44px;
  max-width: 683px;
  text-align: center;
}

.vacations__links {
  display: flex;
  gap: 20px;
}

.socials {
  padding: 33px 0;
}

.socials__list {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.socials__list-link {
  display: inline-block;
  font-size: 18px;
  line-height: 180%;
  color: var(--color-black);
  transition: color 0.3s ease;
}
.socials__list-link:hover {
  color: var(--color-green);
}

.footer {
  padding: 92px 0 74px;
  background-color: #f5f5f5;
}

.footer__items {
  margin-bottom: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-area: 15px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__logo {
  margin-bottom: 5px;
}

.footer__email {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: var(--color-grey);
  transition: color 0.3s ease;
}
.footer__email:hover {
  color: var(--color-green);
}

.footer__phone {
  font-size: 18px;
  line-height: 180%;
  color: var(--color-black);
  transition: color 0.3s ease;
}
.footer__phone:hover {
  color: var(--color-green);
}

.footer__location {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: var(--color-grey);
}

.footer__title {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 140%;
  color: var(--color-black);
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: var(--color-grey);
  transition: color 0.3s ease;
}
.footer__list-link:hover {
  color: var(--color-green);
}

.footer__item-description {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
  color: var(--color-grey);
}

.footer__form-label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 19px 45px 19px 21px;
  width: 100%;
  height: 56px;
  border: 1px solid #fff;
  border-radius: 12px;
  box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--color-white);
}
.footer__form-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 12px;
  background-image: url("./../images/footer/footer-arrow-black-right.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.footer__form-input {
  font-family: var(--font-family);
  color: var(--color-black);
  font-weight: 600;
}
.footer__form-input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  color: #9b9b9b;
}
.footer__form-input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  color: #9b9b9b;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer__copyright {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-grey);
}/*# sourceMappingURL=mian.css.map */