.accordion__group {
  max-width: 495px;
  width: 100%;
  padding: 0 18px;
  display: grid;
  row-gap: 68px;
}

.accordion {
  border-radius: 12px;
  overflow: hidden;
  transition-duration: 0.3s;
  &__summary {
    list-style: none;
    &::webkit-details-marker {
      display: none;
    }
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    font-size: 20px;
    line-height: 140%;
    color: var(--color-black);
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
      color: var(--color-blue);
    }
  }
}

.accordion__details {
  &[open] {
    & + .accordion__content {
      grid-template-rows: 1fr;
      padding-bottom: 30px;
      padding-right: 50px;
      background-color: var(--color-white);
    }

    .accordion__title {
      padding-top: 30px;
      padding-bottom: 20px;
      padding-right: 50px;
      background-color: var(--color-white);
    }
  }
}

.accordion__content {
  padding-left: 30px;
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.3s;
}

.accordion__content-inner {
  overflow: hidden;
}

.accordion__content-body {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: var(--color-grey);
}
