.custom-shirts {
  padding: 92px 0 130px;
}

.custom-shirts__title {
  margin-bottom: 20px;
  text-align: center;
}

.custom-shirts__subtitle {
  margin-bottom: 85px;
  max-width: 680px;
  margin: 0 auto;
}
