.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 24px 0;
  background-color: var(--color-white);
}

.header__menu-list {
  display: flex;
  align-items: center;
  gap: 36px;
  margin-left: 220px;
}

.header__menu-link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  color: var(--color-black);
  transition: color 0.3s ease;

  svg {
    padding-top: 3px;
    fill: currentColor;
    transition: fill 0.3s ease;
  }

  &:hover {
    color: var(--color-green);
  }
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__basket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  aspect-ratio: 1;
  border-radius: 24px;
  background-color: #f5f5f5;

  img {
    width: 20px;
    aspect-ratio: 1;
  }
}

.header__basket-counter {
  position: absolute;
  right: -5px;
  top: -4px;
  width: 18px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-weight: 500;
  font-size: 12px;
  border-radius: 9px;
  background-color: var(--color-green);
}

.header__actions-link {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 18px;
  color: var(--color-black);
  transition: color 0.3s ease;

  span {
    font-size: 14px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #9b9b9b;
  }

  &:hover {
    color: var(--color-green);
  }
}

.header__actions-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0 36px;
  font-size: 15px;
  line-height: 320%;
  color: var(--color-white);
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: var(--color-black);
  transition: all 0.3s ease;

  &:hover {
    color: var(--color-black);
    border-color: var(--color-black);
    background-color: var(--color-white);
  }
}
