.picks {
  padding: 92px 0;
}

.picks__title {
  margin-bottom: 20px;
  text-align: center;
}

.picks__subtitle {
  max-width: 685px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.picks__list {
  margin-bottom: 72px;
}

.picks__item-link {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.picks__item-img {
  position: relative;
  overflow: hidden;

  img {
    border-radius: 12px;
  }
}

.picks__item-sale {
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 10px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 3px;
  color: var(--color-white);
  background-color: var(--color-green);

  &--red {
    background-color: #f09155;
  }
}

.picks__item-new {
  position: absolute;
  z-index: 5;
  top: 35px;
  left: 10px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 3px;
  color: var(--color-white);
  background-color: #b479d9;
}

.picks__item-info {
  padding: 21px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.picks__item-title {
  font-size: 18px;
  line-height: 140%;
  color: var(--color-black);
}

.picks__item-price {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  line-height: 180%;
  color: var(--color-black);

  &--green {
    color: var(--color-green);
  }

  span {
    font-weight: 500;
    font-size: 13px;
    line-height: 180%;
    text-decoration: line-through;
    color: #9b9b9b;
  }
}

.picks__item-colors {
  display: flex;
  align-items: center;
  gap: 6px;

  span {
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: var(--color-black);
  }
}

.picks__item-color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 50%;
  width: 21px;
  aspect-ratio: 1;
  border: 0.5px solid var(--color-grey);
  background-color: var(--color-white);

  span {
    width: 17px;
    aspect-ratio: 1;
    background-color: #d7a983;
    border-radius: 50%;
  }

  &--black {
    span {
      background-color: var(--color-black);
    }
  }
}

.picks__actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.picks__actions-item {
  padding: 57px 42px;
  width: 690px;
  height: 360px;
  border-radius: 12px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.picks__actions-title {
  margin-bottom: 15px;
  max-width: 230px;
  font-size: 32px;
  line-height: 140%;
  color: var(--color-black);
}

.picks__actions-text {
  margin-bottom: 20px;
  max-width: 230px;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: var(--color-grey);
}
