.picks {
  padding: 92px 0;
}

.picks__title {
  margin-bottom: 20px;
  text-align: center;
}

.picks__subtitle {
  max-width: 685px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.picks__list {
  margin-bottom: 72px;
}

.picks__actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.picks__actions-item {
  padding: 57px 42px;
  width: 690px;
  height: 360px;
  border-radius: 12px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.picks__actions-title {
  margin-bottom: 15px;
  max-width: 230px;
  font-size: 32px;
  line-height: 140%;
  color: var(--color-black);
}

.picks__actions-text {
  margin-bottom: 20px;
  max-width: 230px;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: var(--color-grey);
}
