.print-shirts {
  padding: 110px 0;
  background-color: #f8f8f8;
}

.print-shirts__subtitle {
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--color-black);
}

.print-shirts__title {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 78px;
  text-align: center;
}

.print-shirts__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.print-shirts__content-img {
  flex-shrink: 0;
}

.print-shirts__accordion-group {
  max-width: 580px;
  width: 100%;
  display: grid;
  row-gap: 30px;
}

.print-shirts__accordion {
  overflow: hidden;
  transition-duration: 0.3s;
  &-summary {
    list-style: none;
    &::webkit-details-marker {
      display: none;
    }
  }

  &-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 20px 20px;
    font-size: 20px;
    line-height: 140%;
    color: var(--color-black);
    border-radius: 12px;
    background-color: var(--color-white);
    cursor: pointer;
    transition-duration: 0.3s;

    svg {
      fill: var(--color-black);
      transition-duration: 0.3s;
    }
  }
}

.print-shirts__accordion-details {
  &[open] {
    & + .print-shirts__accordion-content {
      grid-template-rows: 1fr;
      padding: 23px 30px 45px 20px;
      background-color: #f8f8f8;
    }

    .print-shirts__accordion-title {
      color: var(--color-white);
      background-color: var(--color-green);
      box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.13);

      svg {
        fill: var(--color-white);
        transform: rotate(180deg);
      }
    }
  }
}

.print-shirts__accordion-content {
  padding-left: 30px;
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.3s;
}

.print-shirts__accordion-content-inner {
  overflow: hidden;
}

.print-shirts__accordion-content-body {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: var(--color-grey);
}
