.printing {
  padding-top: 35px;
  background-color: #f5f5f5;
}

.printing__title {
  margin-bottom: 20px;
  text-align: center;
}

.printing__subtitle {
  max-width: 682px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 68px;
}

.printing__content {
  padding-bottom: 295px;
  background-image: url("./../images/printing-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
