.simple-pricing {
  padding: 191px 0 168px;
  background-image: url("./../images/simple-pricing/simple-pricing-bg-img.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.simple-pricing__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.simple-pricing__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 385px;
  width: 100%;
  flex-shrink: 0;
}

.simple-pricing__subtitle {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--color-black);
}

.simple-pricing__desc {
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #7e7e7e;
  }
}

.simple-pricing__link {
  align-self: flex-start;
}

.simple-pricing__card {
  display: flex;
  max-width: 865px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 20px 64px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--color-white);
}

.simple-pricing__card-left {
  padding: 50px 50px 30px;
  max-width: 460px;
  width: 100%;
  border-right: 1px dashed #eee;
}

.simple-pricing__card-title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 140%;
  color: var(--color-black);
}

.simple-pricing__list {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.simple-pricing__item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
  color: var(--color-black);
}

.simple-pricing__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  aspect-ratio: 1;
  border-radius: 12px;
  background-color: #e2f5f2;
}

.simple-pricing__card-left__link {
  display: flex;
}

.simple-pricing__card-right {
  padding: 50px 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-left: 50px;
  width: 100%;
}

.simple-pricing__card-item__title {
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 140%;
  color: var(--color-black);
}

.simple-pricing__card-item__subtitle {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
  color: var(--color-grey);
}

.simple-pricing__card-price {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.simple-pricing__card-price--new {
  font-size: 48px;
  color: var(--color-black);
}

.simple-pricing__card-price--old {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-grey);
  text-decoration: line-through;
}

.simple-pricing__card-btns {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  max-width: 275px;
  width: 100%;
  border-radius: 12px;
  background-color: #f5f5f5;
}

.simple-pricing__card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 180%;
  width: 132px;
  height: 40px;
  color: var(--color-grey);
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    color: var(--color-black);
    background-color: var(--color-white);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  &--active {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}
