body {
  font-family: var(--font-family);
  font-weight: 700;
}

.container {
  max-width: 1470px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-big {
  max-width: 1870px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.title-2 {
  font-size: 48px;
  line-height: 125%;
  color: var(--color-black);
}
.subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
  color: var(--color-grey);
}

.grid {
  display: grid;
  gap: 30px;

  &--4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &--3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 56px;
  padding: 0 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 350%;
  color: var(--color-white);
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: var(--color-green);
  transition: all 0.3s ease;

  svg {
    fill: var(--color-white);
    transition: fill 0.3s ease;
  }

  &:hover {
    color: var(--color-green);
    border-color: var(--color-green);
    background-color: var(--color-white);

    svg {
      fill: var(--color-green);
    }
  }

  &--white {
    font-weight: 700;
    font-size: 15px;
    color: var(--color-black);
    background-color: var(--color-white);

    svg {
      fill: var(--color-black);
    }

    &:hover {
      color: var(--color-black);
      border-color: var(--color-black);

      svg {
        fill: var(--color-black);
      }
    }
  }
}
