:root {
  --fuschia-100: #ef5da8;
  --fuschia-80: #f178b6;
  --fuschia-60: #fcddec;
  --iris-100: #5d5fef;
  --iris-80: #7879f1;
  --iris-60: #a5a6f6;
  --color-green: #2ebb77;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #7e7e7e;

  --font-family: "Plus Jakarta Sans", sans-serif;
  --second-family: "Lato", sans-serif;
}
